@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif; 
margin: 0;
padding: 0;


}
body{
    background-color: black;
    
} 

header{
    
    width: 100%;
    position: fixed;
    
    
  
  
   
} 

.header nav{
    
    
    display: flex;
    justify-content:space-between;
    align-items: center;
    
} 

.ul1,.ul2{
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style: none;
    


}




.header nav{
    gap:30px
} 


header ul li a{
    padding: 6px 15px;
    border-radius: 20px; 
    color: white;
    text-decoration: none;
    font-weight: bold;
    
    

} 
#home{
    
    width: 100%; 
    min-height: 100vh;
   
    
    background-image: url("logo.jpg");
    background-size:cover;

    background-attachment: fixed;
}

#img1{
    width: 60px;
    height: 30px;
} 

#Search{
    background-color: rgba(105, 105, 105, 0.168);
} 

 .ul1 li a:hover, .Active{
    background-color: white;
    color:black;
}

.Movies h2{
    color: red;
    
    font-size: 40px;

    
} 

.Movies{
    
    width: 100%;
    
    
    
    gap:20px;
    
    
} 

.Movies img{
    width: 10%;
    height: 30vh;
    margin-top: 20px;
    overflow-x: scroll;

    
   margin-top: 10px;
    
   width: 200px;
   height: 300px;
   animation: mymove  ease-in-out 2.0ms;
  
   position: relative;
  
   animation: mymove 5s ;
   
   

}

@keyframes mymove {
  0% {
   transform: translateX(2000px);
   opacity: 0;
}
 100% {
   transform: translateX(0);
   opacity: 1;
 }

} 

.footer{
    background-color: rgba(128, 128, 128, 0.22);
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer a{
    color: white;
    text-decoration: none;
    margin-right: 100px;
    margin-left: 100px;
}

.big{
    margin-left:200px;
}



